<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <i class="fas fa-hand-holding-heart"></i> DonorCare
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/donor">Donor</a></li>
                <li><a href="/receiver">Receiver</a></li> -->
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <h1>About Blood Donation System</h1>
        <p>Welcome to the Blood Donation System, a platform to connect blood donors with those in need of blood. Our goal is to make blood donations easier and more accessible to everyone in need.</p>
        
        <h2>Mission</h2>
        <p>Our mission is to save lives by facilitating easy and secure blood donations through a user-friendly platform. We aim to provide reliable information and support to both blood donors and receivers.</p>

        <h2>Features</h2>
        <ul>
            <li><strong>Donor Registration :</strong>
                <p>>>> Blood donors can register on our platform to donate blood.</p>
            </li>
            <li><strong>Receiver Registration :</strong>
                <p>>>> Patients in need of blood can find donors via our platform.</p> 
            </li>
            <li><strong>Matching System :</strong>
                <p>>>> We connect blood donors with patients who need blood based on compatibility and location</p>
             </li>
            <li><strong>Appointments :</strong> 
                <p>>>> Receivers can book an appointment with the donors or hospitals for the blood transfusion.</p>
            </li>
        </ul>

        <h2>Contact</h2>
        <p>If you need more information or have any questions, feel free to contact us using the contact page.</p>
    </div>

    <footer>
        <p>&copy; 2025 Blood Donation System</p>
    </footer>
</body>
</html>
