<!-- views/donation-success.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Success</title>
    <link rel="stylesheet" href="don-sucess.css">
</head>
<body>
    <div class="container">
        <h1> successfully processed !</h1>
        <h2>Thank you for contacting us! We will get back to you shortly.</h2>
        <p>Your contact has been submitted ..</p>
        <p><a href="/">Go back to Home</a></p>
    </div>
</body>
</html>
